.jobs {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.listing {
    padding: 30px 10vw;
    padding-bottom: 100px;
}

.pagination {
    display: block;
    text-align: center;
    margin-top: 10px;
}

.loader {
    margin: auto;
    margin-top: 30vh;
}



.arrow-right {
    vertical-align: middle;
    color: #cddc39;
    background: black;
    padding: 5px;
    margin: 0 0 4px 0;
    border: 0;
    cursor: pointer;
    border-radius: 20px;
}

.arrow-right:hover{
    background: #393939;
}

.button-arrow {
    background: black;
    padding: 0;
    margin: 0;
    border: 0;
}
