<section class='jobs'>
  <div *ngIf="loading">
    <mat-progress-spinner class='loader' diameter='50' value="50" mode='indeterminate' color='primary'>
    </mat-progress-spinner>
  </div>
  <div *ngIf="!loading" class='listing'>
    <div class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="30%" ngfor fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let job of jobs">
        <app-job-card [job]='job'></app-job-card>
      </div>
    </div>
    <div>
      <span class='pagination'>
        <button *ngIf="offset !== 0" (click)='modifyOffset(-6)' class='button-arrow'>
          <span class='material-icons arrow-right'>
            keyboard_arrow_left
          </span>
        </button>
        <span> {{offset}} - {{offset+6}} of {{result.total}}
        </span>
        <button *ngIf="offset+1*6 !== result.total" (click)='modifyOffset(6)' class='button-arrow'>
          <span class='material-icons arrow-right'>
            keyboard_arrow_right
          </span>
        </button>
      </span>
    </div>
  </div>



</section>