<mat-card *ngIf='job' class="mat-elevation-z4">
    <mat-card-content>
        <div class='flex-row'>
            <div class='hexagon'>
                <img alt='{{job.organizations[0].name}} image' mat-card-image class='mat-img'
                    src="{{job.organizations[0].picture}}">
            </div>
        </div>
        <span class='title'>{{job.objective}}</span>
        <span class='organization'>
            <span>
                {{job.organizations[0].name}}
            </span>
            <span *ngIf="job.organizations.lenght > 1">
                and +{{job.organizations.length-1}} more
            </span>
        </span>
        <span class='location'>
            <span class='material-icons public'>
                public
            </span>
            <span *ngIf="job.remote">
                Remote
            </span>
            <span *ngIf="job.remote && job.locations.length > 0">
                -
            </span>
            <span *ngIf="job.locations.length > 0">
                {{job.locations[0]}}
            </span>
            <span *ngIf="job.locations.length > 1">
                and +{{job.locations.length-1}} more
            </span>
        </span>

        <section class='carousel'>
            <div class="container">
                <!-- ITEM -->
                <div *ngFor="let skill of job.skills" class="carousel__item ">
                    <div class="skill">
                        <span>
                            {{skill.name}} {{skill.experience}}
                        </span>

                    </div>

                </div>
            </div>
        </section>
        <mat-divider [inset]="true" class='divider'></mat-divider>
        <div class='flex-row2'>
            <button mat-button color='secondary' (click)='goToCompare()' class='button-compare' >
                SEE FITS
            </button>
        </div>
    </mat-card-content>
</mat-card>