<section class='compare'>
    <div class='listing-50'>
        <div class='search'>
            <mat-form-field appearance='outline' floatLabel='auto' class='search-field'>
                <mat-label>Search for the job's skills</mat-label>
                <mat-icon matPrefix class='person-icon'>person_search</mat-icon>

                <mat-chip-list #chipList>
                    <mat-chip (removed)="remove(skill)" *ngFor="let skill of skills" [selectable]="selectable"
                        [removable]="removable">
                        {{skill}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>

                    <input #compareInput [formControl]="skillCtrl" [matChipInputFor]="chipList" [matAutocomplete]="auto"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event)" matInput>
                </mat-chip-list>

                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor='let skill of filteredSkills | async' [value]='skill'>
                        {{skill.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

        <div *ngIf="showInstructions">
            <div class='ordered'>
                <div>
                    <ol>
                        <li class='ordered-item' *ngFor="let instruction of instructions; let i = index">{{instruction}}
                            <span *ngIf="i == 0" class='organization'> {{job.organizations[0].name}} </span> </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class='best-fit'>
            <h1 *ngIf="!showInstructions" class='best-fit-title'>Best fit</h1>
            <app-best-fit [showInstructions]='showInstructions' [loadingBestFit]='loadingBestFit' [bestFit]='bestFit'>
            </app-best-fit>
        </div>
    </div>
    <div class='listing'>
        <h1 *ngIf="!showInstructions" class='best-fit-title'>Other fits by skills</h1>
        <div *ngIf="!showInstructions">
            <div class='fits' fxLayout="row wrap" fxLayoutGap="16px grid">
                <div fxFlex="30%" ngfor fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let fit of fitsByPage">
                    <app-fits *ngIf="fit.name" [showInstructions]='showInstructions' [loadingFits]='loadingFits' [fit]='fit'></app-fits>
                </div>
            </div>
            <div>
                <span class='pagination' *ngIf="!showInstructions && fitsByPage.length > 0">
                    <button *ngIf="minBoundFilter !== 0" (click)='modifyOffset(-6)' class='button-arrow'>
                        <span class='material-icons arrow-right'>
                            keyboard_arrow_left
                        </span>
                    </button>
                    <span> {{minBoundFilter}} - {{maxBoundFilter}} of {{fits.length}}
                    </span>
                    <button *ngIf="maxBoundFilter !== fits.length" (click)='modifyOffset(6)' class='button-arrow'>
                        <span class='material-icons arrow-right'>
                            keyboard_arrow_right
                        </span>
                    </button>
                </span>
            </div>
        </div>
    </div>
</section>
