.compare {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

.listing {
    padding: 30px 10vw;
    padding-bottom: 100px;
}

.listing-50 {
    padding: 30px 10vw;
    padding-bottom: 50px;
}

.search {
    margin: auto;
    display: table;
}

.search-field {
    width: 50vw;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: #cddc39 !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #cddc39 !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: #cddc39 !important;
    border-radius: 20px;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    border-radius: 30px;
}

.person-icon {
    margin-right: 10px;
}

.mat-focused .mat-icon {
    color: #cddc39;
}

.loader {
    margin: auto;
    margin-top: 30vh;
}

.ordered {
    margin-top: 10vh;
    padding-left: 14vw;
}

.ordered-item {
    color: hsla(0, 0%, 100%, 0.65);
    margin-top: 10px;
}

.organization {
    font-weight: 600;
    color: #fff;
}

.person-wrapper {
    background: #27292d;
}

.best-fit {
    display: table;
    margin: auto;
}

.arrow-right {
    vertical-align: middle;
    color: #cddc39;
    background: black;
    padding: 5px;
    margin: 0 0 4px 0;
    border: 0;
    cursor: pointer;
    border-radius: 20px;
}

.arrow-right:hover {
    background: #393939;
}

.button-arrow {
    background: black;
    padding: 0;
    margin: 0;
    border: 0;
}

.pagination {
    display: block;
    text-align: center;
    margin-top: 10px;
}
