<mat-toolbar>
  <span>torre-test</span>
  <span class='example-spacer'></span>
  <div fxShow="true" fxHide.lt-md="true">
    <button class='not-active' mat-button [routerLink]="['/job-listing']" [routerLinkActive]="['is-active']">
      <span class='material-icons'>
        work
      </span>
      <span class='icono-arriba'>Find jobs</span>
    </button>
  </div>
  <div fxShow="true" fxHide.gt-sm="true">
    <span (click)="sidenav.toggle()" class='material-icons hamb'>
      menu
    </span>
  </div>
</mat-toolbar>

<mat-sidenav-container fxFlexFill class="example-container">
  <mat-sidenav #sidenav fxLayout="column">
    <div fxLayout="column">
      <button class='not-active' (click)="sidenav.toggle()" mat-button [routerLink]="['/job-listing']"
        [routerLinkActive]="['is-active']">
        <span class='material-icons'>
          work
        </span>
        <span class='icono-arriba'>Find jobs</span>
      </button>

    </div>

  </mat-sidenav>

  <mat-sidenav-content class='nav-content' fxFlexFill>
    <router-outlet></router-outlet>
  </mat-sidenav-content>


</mat-sidenav-container>