.first-wrapper {
    display: inline-flex;
}

.gravatar-title {
    width: 500px;
    padding: 10px;
    height: 80px;
}

.no-picture {
    width: 72px;
    height: 72px;
    background: #383b40;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #5e626b;
    border-radius: 10px;
}

.span-picture {
    font-size: 55px;
}

.second-wrapper {
    width: 100%;
    display: grid;
}

.best-fit-title {
    margin-left: 23%;
}

.second-wrapper-loading {
    display: inline-flex;
    width: 100%;
    margin-top: 10px;
}

.ngx-skele {
    width: 20%;
    margin-right: 5px;
}

.mat-img {
    margin: 0 !important;
    width: 72px;
    height: 72px;
}

.display-flex {
    display: flex;
    padding-bottom: 10px;
    margin-top: 3px;
    margin-left: 10px;

    &.title {
        color: #cddc39;
    }

    &.sub-title {
        color: rgba(255, 255, 255, 0.65);
    }

    &.location-name {
        font-size: 12px;
    }

    &.overflow {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.overflowing {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: grid;
}

.carousel {
    width: 48vw;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 10px;
}

.carousel > .container {
    white-space: nowrap;
    padding-bottom: 10px;
    overflow: auto;
}

.carousel__item {
    overflow: hidden;
    width: auto;
    margin: 0 10px 0 0;
    display: inline-block;
    transition: 450ms all;
    transform-origin: center left;
    border: 1px solid white;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

::-webkit-scrollbar {
    height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #393939;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 9px;
    background: #cddc39;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.card-bestFit {
    width: 48vw;
    margin: auto;
}
